- if todo.completed?
  %li{class: :completed}
    = todo.title
    = button_to t('mark_todo_incomplete'),
        todo_completion_path(todo), method: :delete
- else
  %li
    = todo.title
    = button_to t('mark_todo_complete'), todo_completion_path(todo)
